//Colors
$colors: (
  primary: rgb(255, 86, 205),
  secondary: #8b5afe,
  white: #ffffff,
  dark: #161616,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

//Sizes
$breaking-point-xxl: 1400px;
$breaking-point-xl: 1200px;
$breaking-point-lg: 992px;
$breaking-point-md: 768px;
$breaking-point-sm: 576px;
$breaking-point-xs: 380px;
$breaking-point-xxs: 330px;

//Shapes
@mixin button() {
  padding: 15px 30px;
  border: none;
  outline: none;
  position: relative;
  z-index: 1;
  border-radius: 30px;
  background: linear-gradient(to bottom, #6f8af6, color(secondary));
  cursor: pointer;
  backdrop-filter: blur(10px);
  font-weight: 300;
  cursor: pointer;
  font-size: var(--fs-m);

  svg {
    transition: 0.5s var(--ease-smooth);
  }
  &:hover {
    svg {
      transform: translateX(-10px);
    }
  }

  &::before {
    content: '';
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    border-radius: 30px;
    background-color: #0e0e0ed5;
    z-index: -1;
    transition: 200ms;
  }
  &::after {
    content: attr(data);
    font-size: 16px;
    -webkit-background-clip: text;
    color: transparent;
    transition: 200ms;
  }
}
@mixin button_no_hover() {
  padding: 15px 30px;
  border: none;
  outline: none;
  position: relative;
  z-index: 1;
  border-radius: 30px;
  background: linear-gradient(to bottom, #6f8af6, color(secondary));
  cursor: pointer;
  backdrop-filter: blur(10px);
  font-weight: 300;
  cursor: pointer;
  font-size: var(--fs-m);

  &::before {
    content: '';
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    border-radius: 30px;
    background-color: #0e0e0ed5;
    z-index: -1;
    transition: 200ms;
  }
  &::after {
    content: attr(data);
    font-size: 16px;
    -webkit-background-clip: text;
    color: transparent;
    transition: 200ms;
  }
}

@mixin read_button {
  color: color(dark);
  @include hover_underline(color(dark));
  margin: 0;
  font-size: 0.9rem;
  font-weight: 400;
}

//hover
@mixin hover_underline($color) {
  margin: 0 14px;
  padding-bottom: 2px;
  background-image: linear-gradient($color, $color);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition:
    background-size 0.3s,
    background-position 0s 0.3s,
    letter-spacing 0.3s;
  &:hover {
    color: $color;
    background-position: 100% 100%; /*OR bottom right*/
    background-size: 100% 2px;
  }
}

@mixin hover_scale($size, $time) {
  transition: $time ease;
  cursor: pointer;
  &:hover {
    transform: scale($size);
  }
}

@mixin date_category_container {
  display: flex;
  justify-content: space-between;
  color: $grey;
  & p {
    font-size: var(--fs-s);

    &:first-child {
      text-transform: uppercase;
      letter-spacing: 1.4px;
    }
  }
}

//Blog
@mixin blog_settings {
  h1 {
    font-family: Italiana, sans-serif;
    font-size: var(--fs-xxl);
  }
  h2 {
    font-size: var(--fs-xl);
    margin-bottom: 70px;
  }
  h3 {
    font-weight: 400;
  }
}

//Title
@mixin title_transparent {
  @supports (-webkit-text-stroke: 1px white) {
    .container {
      h1 {
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
      }
    }
  }
}
//Exports
:export {
  dark: color(dark);
  white: color(white);
  mobile_breaking_point: $breaking-point-sm;
}
