@import 'assets/styles/mixins';

.dots {
  bottom: -50px;

  li button::before {
    color: white !important;
  }
  li[class='slick-active'] button::before {
    color: white !important;
  }
}

//Testimonial
.testimonialContainer {
  position: relative;
  margin: 0 10px;
  max-width: 600px;
}

.testimonialClientContainer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: end;

  div {
    margin-left: 30px;
    p {
      margin: 0;
    }
  }
}

.letsTalk {
  margin-top: 30px;
  text-align: center;
}

//Responsive
@media only screen and (max-width: $breaking-point-sm) {
  .testimonialContainer {
    &:hover {
      transform: none;
    }
  }
}
@media only screen and (max-width: 466px) {
  .testimonialContainer {
    padding: 50px 15px !important;
    text-align: left !important;
  }

  .quotation {
    color: $yellow;
    font-size: var(--fs-xl-l);
    transform: translateX(0px);
  }
}
