@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'assets/styles/mixins';

:root {
  --fs-xxl: clamp(3.5rem, 10vw, 5rem);
  --fs-xl: clamp(2.8rem, 10vw, 5rem);
  --fs-xl-l: clamp(1.8rem, 5vw, 3.2rem);
  --fs-l: clamp(1.8rem, 5vw, 2.5rem);
  --fs-l-s: clamp(1.5rem, 5vw, 2rem);
  --fs-m: clamp(1rem, 10vw, 1.1rem);
  --fs-s: clamp(0.8rem, 10vw, 0.8rem);

  --padding-y: clamp(20px, 5vw, 70px);
  --padding-root-y: 0 var(--padding-y);

  --page-max-width: 1600px;

  --ease-smooth: cubic-bezier(0.35, 0, 0, 1);

  --color-primary: #ff56cd;
  --color-primary-dark: #6e54f0;
  --color-white: #ffffff;
  --color-dark: #111111;
}

* {
  color: white;
}

body {
  background: color(dark);
}

nav {
  max-width: var(--page-max-width);
  margin: auto;
}

p {
  font-weight: 200;
  font-size: var(--fs-m);
  white-space: break-spaces;
}

a {
  font-weight: 200;
  font-size: var(--fs-m);
}

h2 {
  font-family: var(--fs-sans) !important;
  font-weight: 300;
}

.offcanvas-custom {
  width: 200px !important;
  text-align: end;
  font-size: var(--fs-m);
  opacity: 1 !important;
  a {
    margin: 10px !important;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media screen and (max-width: 768px) {
  body {
    background: #111111;
  }
}
