@import 'assets/styles/mixins';

.container {
  display: flex;
  justify-content: space-between;
  background-color: color(dark);
  padding: 15px var(--padding-y);
  color: color(white);
  font-size: var(--fs-m);
  z-index: 100;
  a {
    position: relative;
    margin: 0 14px;
  }
  div {
    font-weight: 300;
  }
  div[id='footer-copyright'] {
    font-size: var(--fs-s);
  }
}

//Responsive
@media only screen and (max-width: $breaking-point-xxs) {
  .container {
    flex-wrap: wrap;
    justify-content: center;
    div[id='footer-social-media'] {
      margin-bottom: 10px;
    }
  }
}
