@import 'assets/styles/mixins';

.container {
  display: flex;
  justify-content: space-between;
  background-color: color(dark);
  padding: 15px var(--padding-y);
  color: color(white);
  font-size: var(--fs-m);
  z-index: 100;
}

//Responsive
@media only screen and (max-width: $breaking-point-sm) {
  .container {
    flex-wrap: wrap;
    justify-content: center;
    div[id='footer-social-media'] {
      margin-bottom: 15px;
    }
  }
}
