@use '../../assets/styles/_mixins';

.container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  background-color: rgba(27, 27, 27, 0.305);
  backdrop-filter: blur(20px);
  border-top: 1px solid rgba(128, 128, 128, 0.185);
  padding: 15px var(--padding-y);
  color: mixins.color(white);
  font-size: var(--fs-m);
  z-index: 100;
}

//Responsive
@media only screen and (max-width: mixins.$breaking-point-sm) {
  .container {
    flex-wrap: wrap;
    justify-content: center;
    div[id='footer-social-media'] {
      margin-bottom: 15px;
    }
  }
}
