@import 'assets/styles/mixins';

.container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0px;
  z-index: -1;
  flex: 1;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(4px);
    filter: brightness(0.8);
  }
}

.hideWaterMark {
  width: 100vw;
  height: 30px;
  background-color: color(dark);
  transform: translateY(-20px);
}
