@use '../../assets/styles/_mixins';

.container {
  position: relative;
  color: mixins.color(white);
  display: flex;
  align-items: center;
  margin-left: 17px;
  select {
    cursor: pointer;
    position: absolute;
    top: 6px;
    right: -60px;
    opacity: 0;
  }
}
