name: CI

on:
  pull_request:
    branches:
      - main
      - master # Adjust as necessary for your default branch name.

jobs:
  build:
    runs-on: ubuntu-22.04 # Using a specific version of Ubuntu for consistency
    strategy:
      matrix:
        node-version: [18.17] # Adjust the Node.js version as needed

    steps:
      - uses: actions/checkout@v4
        # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it

      - name: Install Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
        # Installs the latest version of Bun

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
        # Sets up Node.js (Bun handles its own caching)

      - name: Install dependencies
        run: bun install
        # Installs dependencies using Bun

      - name: Run ESLint
        run: bun run lint
        # Add your specific lint script from package.json

      - name: Run Prettier Check
        run: bun run prettier
        # Ensure your package.json has a script that runs Prettier in check mode

      - name: Run TypeScript Compiler
        run: bun run type-check
        # Ensure your package.json has a script that runs the TypeScript compiler with --noEmit

      - name: Build
        run: bun run build
        # Optionally, build your project if necessary
